Source: ros-kilted-zenoh-security-tools
Section: misc
Priority: optional
Maintainer: Alejandro Hernanadez <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), nlohmann-json3-dev, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-rcpputils, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rmw-security-common, ros-kilted-tinyxml2-vendor, ros-kilted-zenoh-cpp-vendor, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-zenoh-security-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-rcpputils, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rmw-security-common, ros-kilted-tinyxml2-vendor, ros-kilted-zenoh-cpp-vendor, ros-kilted-ros-workspace
Description: This package generates config files to enforce security with Zenoh
